body {
    margin: 0;
    display: block;
    font-family: "Roboto";
    background: linear-gradient(
        180deg,
        rgba(136, 136, 136, 1) 0%,
        rgba(170, 170, 170, 1) 15%,
        rgba(255, 255, 255, 1) 100%
    );
    font-size: 1em;
    user-select: none;
}

a {
    color: #000;
    text-decoration: none;
}

#controls {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

#loading {
    position: absolute;
    left: 32px;
    top: 0px;
    height: 128px;
    width: 128px;
    visibility: hidden;
}

#debug_display {
    position: absolute;
    font-family: monospace;
    width: 300px;
    height: 200px;
    border-radius: 15px;
    border: 1px #666 solid;
    margin: 8px;
    vertical-align: top;
    padding: 16px;
    padding-top: 12px;
    top: 8px;
    right: 8px;
    text-align: left;
    color: white;
    background-color: rgba(50, 150, 50, 0.15);
    font-size: 1.1em;
    visibility: hidden;
}

#male,
#female {
    position: absolute;
    width: 60px;
    height: 20px;
    border-radius: 60px;
    margin: 8px;
    vertical-align: top;
    text-align: center;
    padding: 16px;
    top: 8px;
}

#male {
    left: 8px;
    background-color: rgba(141, 186, 206, 0.5);
    border: rgba(70, 93, 103, 0.75) 2px solid;
}
#female {
    left: 110px;
    background-color: rgba(255, 110, 199, 0.5);
    border: rgba(128, 55, 100, 0.75) 2px solid;
}
#male:hover {
    background-color: rgba(141, 186, 206, 0.8);
}
#female:hover {
    background-color: rgba(255, 110, 199, 0.8);
}

#malehead1,
#malehead2,
#malebody1,
#malebody2,
#malebody3,
#maleskin1,
#maleskin2,
#maleshirt1,
#maleshirt2,
#malepants1,
#malepants2,
#femalehead1,
#femalehead2,
#femalebody1,
#femalebody2,
#femalebody3,
#femaleskin1,
#femaleskin2,
#femaleshirt1,
#femaleshirt2,
#femalepants1,
#femalepants2 {
    position: absolute;
    width: 60px;
    height: 20px;
    border-radius: 60px;
    margin: 8px;
    text-align: center;
    vertical-align: top;
    padding: 16px;
}

#maleshirtrem,
#malepantsrem,
#femaleshirtrem,
#femalepantsrem {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px;
    text-align: center;
    vertical-align: top;
    padding: 16px;
    padding-left: 2px;
    padding-right: 2px;
    border: rgba(100, 0, 0, 0.5) 2px solid;
    background-color: rgba(255, 100, 100, 0.5);
}

#malehead1,
#malehead2,
#malebody1,
#malebody2,
#malebody3,
#maleskin1,
#maleskin2,
#maleshirt1,
#maleshirt2,
#malepants1,
#malepants2 {
    border: rgba(70, 93, 103, 0.75) 2px solid;
    background-color: rgba(141, 186, 206, 0.5);
}

#malehead1:hover,
#malehead2:hover,
#malebody1:hover,
#malebody2:hover,
#malebody3:hover,
#maleskin1:hover,
#maleskin2:hover,
#maleshirt1:hover,
#maleshirt2:hover,
#malepants1:hover,
#malepants2:hover {
    background-color: rgba(141, 186, 206, 0.8);
}

#maleshirtrem:hover,
#malepantsrem:hover,
#femaleshirtrem:hover,
#femalepantsrem:hover {
    background-color: rgba(255, 100, 100, 0.8);
}

#malehead1,
#malebody1,
#maleskin1,
#maleshirt1,
#malepants1 {
    left: 8px;
}
#malehead2,
#malebody2,
#malebody3,
#maleskin2,
#maleshirt2,
#malepants2 {
    left: 110px;
}

#malebody3 {
    left: 212px;
}

#malebody1,
#malebody2,
#malebody3,
#femalebody1,
#femalebody2,
#femalebody3 {
    top: 80px;
}
#malehead1,
#malehead2,
#femalehead1,
#femalehead2 {
    top: 152px;
}
#maleskin1,
#maleskin2,
#femaleskin1,
#femaleskin2 {
    top: 224px;
}
#maleshirt1,
#maleshirt2,
#maleshirtrem,
#femaleshirt1,
#femaleshirt2,
#femaleshirtrem {
    top: 296px;
}
#malepants1,
#malepants2,
#malepantsrem,
#femalepants1,
#femalepants2,
#femalepantsrem {
    top: 368px;
}

#maleshirtrem,
#femaleshirtrem,
#malepantsrem,
#femalepantsrem {
    left: 216px;
}

#femalehead1,
#femalehead2,
#femalebody1,
#femalebody2,
#femalebody3,
#femaleskin1,
#femaleskin2,
#femaleshirt1,
#femaleshirt2,
#femalepants1,
#femalepants2 {
    border: rgba(128, 55, 100, 0.75) 2px solid;
    background-color: rgba(255, 110, 199, 0.5);
}

#femalehead1:hover,
#femalehead2:hover,
#femalebody1:hover,
#femalebody2:hover,
#femalebody3:hover,
#femaleskin1:hover,
#femaleskin2:hover,
#femaleshirt1:hover,
#femaleshirt2:hover,
#femalepants1:hover,
#femalepants2:hover {
    background-color: rgba(255, 110, 199, 0.8);
}

#femalehead1,
#femalebody1,
#femaleskin1,
#femaleshirt1,
#femalepants1 {
    left: 8px;
}
#femalehead2,
#femalebody2,
#femaleskin2,
#femaleshirt2,
#femalepants2 {
    left: 110px;
}

#femalebody3 {
    left: 212px;
}

#continue {
    position: absolute;
    width: 200px;
    height: 20px;
    border-radius: 60px;
    border: 1px #666 solid;
    margin: 8px;
    vertical-align: top;
    padding: 16px;
    padding-top: 12px;
    top: 440px;
    left: 8px;
    text-align: center;
    background-color: rgba(50, 150, 50, 0.65);
    font-size: 1.5em;
    visibility: hidden;
}
#continue:hover {
    background-color: rgba(50, 150, 50, 0.8);
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

em {
    color: yellow;
    font-size: 1.5em;
}

i {
    color: orange;
}
